# Architecture
BR2_aarch64=y


# Toolchain
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y

# Additional system packages
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_PCIUTILS=y
BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y
BR2_PACKAGE_LIBEVENT=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_VIM=y
BR2_PACKAGE_KVMTOOL=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_DMIDECODE=y
BR2_PACKAGE_EFIBOOTMGR=y

#FWTS package
BR2_PACKAGE_FWTS=y
BR2_PACKAGE_FWTS_EFI_RUNTIME_MODULE=y

# Target filesystem
BR2_TARGET_ROOTFS_CPIO=y

#Additional packages
BR2_ROOTFS_OVERLAY="root_fs_overlay"

#Packages for SIE
BR2_PACKAGE_TROUSERS=y
BR2_PACKAGE_OPTEE_CLIENT=y
BR2_PACKAGE_EFIVAR=y
BR2_PACKAGE_TPM2_TOOLS=y


