# Architecture
BR2_aarch64=y


# Toolchain
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Additional system packages
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_PCIUTILS=y
BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y
BR2_PACKAGE_LIBEVENT=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_VIM=y
BR2_PACKAGE_KVMTOOL=y
BR2_PACKAGE_DMIDECODE=y
BR2_PACKAGE_EFIBOOTMGR=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_LIBZLIB=y
BR2_PACKAGE_ZLIB=y

# python packages
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON_PACKAGING=y
BR2_PACKAGE_PYTHON3_CURSES=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_PYTHON_PYYAML=y
BR2_PACKAGE_PYTHON_CHARDET=y
BR2_PACKAGE_PYTHON_MATPLOTLIB=y
BR2_PACKAGE_PYTHON_NUMPY=y
BR2_PACKAGE_PYTHON_NUMPY_ARCH_SUPPORTS=y
BR2_INSTALL_LIBSTDCPP=y
BR2_PACKAGE_PYTHON_JINJA2=y
BR2_PACKAGE_PYTHON_LXML=y
BR2_PACKAGE_PYTHON_PIP=y
BR2_PACKAGE_PYTHON_PILLOW=y
BR2_PACKAGE_LSHW=y

#FWTS package
BR2_PACKAGE_FWTS=y
BR2_PACKAGE_FWTS_EFI_RUNTIME_MODULE=y

# Target filesystem
BR2_TARGET_ROOTFS_CPIO=y

#Additional packages
BR2_ROOTFS_OVERLAY="root_fs_overlay"

# Network manager and nmcli tool
BR2_PACKAGE_EUDEV=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_STATIC_LIBS=n
BR2_USE_MMU=y
BR2_PACKAGE_HAS_UDEV=y
BR2_TOOLCHAIN_GCC_AT_LEAST_4_9=y
BR2_TOOLCHAIN_HEADERS_AT_LEAST_4_6=y
BR2_TOOLCHAIN_USES_GLIBC=y
BR2_TOOLCHAIN_HAS_THREADS=y
BR2_USE_WCHAR=y
BR2_PACKAGE_NETWORK_MANAGER=y
BR2_PACKAGE_READLINE=y

# additional linux utilities
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_ZIP=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_HWCLOCK=y
BR2_PACKAGE_COREUTILS=y

#Packages for BBSR
BR2_PACKAGE_TROUSERS=y
BR2_PACKAGE_OPTEE_CLIENT=y
BR2_PACKAGE_EFIVAR=y
BR2_PACKAGE_TPM2_TOOLS=y

#Packages for ACPICA
BR2_PACKAGE_ACPICA=y

# Packages for SBMR
BR2_PACKAGE_PYTHON3_ZLIB=y
BR2_PACKAGE_PYTHON3_PYEXPAT=y
BR2_PACKAGE_PYTHON_REQUESTS=y
BR2_PACKAGE_PYTHON_REDFISH=y
BR2_PACKAGE_PYTHON_REDFISHTOOL=y
BR2_PACKAGE_PYTHON_PARAMIKO=y
BR2_PACKAGE_PYTHON_CLICK=y
BR2_PACKAGE_PYTHON_ROBOTFRAMEWORK=y
BR2_PACKAGE_PYTHON_ROBOTFRAMEWORK_REQUESTS=y
BR2_PACKAGE_PYTHON_ROBOTFRAMEWORK_SSHLIBRARY=y
BR2_PACKAGE_PYTHON_ROBOTFRAMEWORK_SCPLIBRARY=y
BR2_PACKAGE_PYTHON_SIX=y

#redfish
BR2_PACKAGE_PYTHON_REQUESTS_TOOLBELT=y
BR2_PACKAGE_PYTHON_DECORATOR=y
BR2_PACKAGE_PYTHON_PLY=y
BR2_PACKAGE_PYTHON_JSONPATH_RW=y
BR2_PACKAGE_PYTHON_JSONPOINTER=y
BR2_PACKAGE_PYTHON_PBR=y
BR2_PACKAGE_PYTHON_WHEEL=y
BR2_PACKAGE_PYTHON_REQUESTS_UNIXSOCKET=y

# paramiko
BR2_PACKAGE_HOST_RUSTC_TARGET_ARCH_SUPPORTS=y
BR2_PACKAGE_PYTHON_BCRYPT=y
BR2_PACKAGE_PYTHON_CRYPTOGRAPHY=y
BR2_PACKAGE_PYTHON_PYNACL=y
BR2_PACKAGE_PYTHON_SCP=y

# requests
BR2_PACKAGE_PYTHON_CERTIFI=y
BR2_PACKAGE_PYTHON_CHARSET_NORMALIZER=y
BR2_PACKAGE_PYTHON_IDNA=y
BR2_PACKAGE_PYTHON_URLLIB3=y
BR2_PACKAGE_PYTHON3_SSL=y

# IPMI
BR2_PACKAGE_IPMITOOL=y

# WGET
BR2_PACKAGE_WGET=y

# Redfish Finder
BR2_PACKAGE_REDFISH_FINDER=y

# SCP
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_OPENSSH_SERVER=y