# Copyright (c) 2021-2024, ARM Limited and Contributors. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# Redistributions of source code must retain the above copyright notice, this
# list of conditions and the following disclaimer.
#
# Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# Neither the name of ARM nor the names of its contributors may be used
# to endorse or promote products derived from this software without specific
# prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

# Yocto Build uses below configs

#EDK2 source tag from https://github.com/tianocore/edk2.git
EDK2_SRC_VERSION=edk2-stable202302
EDK2_SRC_TAG=f80f052277c88a67c55e107b550f504eeea947d3

# EDK2-TEST source tag from  https://github.com/tianocore/edk2-test
SCT_SRC_VERSION=edk2-test-stable202406
SCT_SRC_TAG=0e2ced3befa431bb1aebff005c4c4f1a9edfe6b4

# GRUB2 source from https://github.com/rhboot/grub2.git
GRUB_SRC_TAG=grub-2.06

ARM_BSA_VERSION=v1.0.8
#Arm BSA source tag.
#NOTE: If the value is NULL then the latest BSA source will be downloaded
ARM_BSA_TAG=""

#Arm BBR source tag
#NOTE: If the value is NULL then the latest BBR source will be downloaded
ARM_BBR_TAG=""

#Arm LINUX ACS source tag
#NOTE: If the value is NULL then the latest Linux ACS source will be downloaded
ARM_LINUX_ACS_TAG=""

# EDK2-LIBC source tag from https://github.com/tianocore/edk2-libc
EDK2_LIBC_SRC_TAG=c32222fed9927420fc46da503dea1ebb874698b6

#edk2-test-parser version
EDK2_TEST_PARSER_TAG=48a246a4b91a535c010e96896e2fab8f8062adf8

#SystemReady ACS version
ACS_VERSION=""

# This might be used by IR 1.0 busybox

#Linux kernel version. Source downloaded from https://github.com/torvalds/linux.git
LINUX_KERNEL_VERSION=6.6

#BusyBox source tag : https://git.busybox.net/busybox/
BUSYBOX_SRC_VERSION=1_34_stable

#Cross compiler tools from https://releases.linaro.org/components/toolchain/binaries
LINARO_TOOLS_MAJOR_VERSION=7.5-2019.12
LINARO_TOOLS_VERSION=7.5.0-2019.12

# export GCC toolchain path
GCC=tools/gcc-linaro-${LINARO_TOOLS_VERSION}-x86_64_aarch64-linux-gnu/bin/aarch64-linux-gnu-

#FWTS source tag from  git://kernel.ubuntu.com/hwe/fwts.git
FWTS_SRC_VERSION=v24.03.00
