set timeout=5
set default=bbr/bsa
set timeout=5
set fallback=0
set debug="loader,mm"
set term="vt100"
set timeout="5"

menuentry 'Linux BusyBox' {
    linux /Image rootwait verbose debug crashkernel=256M
    initrd /ramdisk-busybox.img
}
menuentry 'bbr/bsa' {
    chainloader /EFI/BOOT/Shell.efi
}
