set timeout=5
set default=bbr/bsa
set timeout=5
set fallback=0
set debug="loader,mm"
set term="vt100"
set timeout="5"

menuentry 'Linux BusyBox' {
    linux /Image acpi=force console=ttyAMA0,115200 root=PARTUUID=9c53a91b-e182-4ff1-aeac-6ee2c432ae94 rootwait verbose debug crashkernel=256M
    initrd /ramdisk-busybox.img
}
menuentry 'bbr/bsa' {
    chainloader /EFI/BOOT/Shell.efi
}
