CONFIG_ARCH_BCM4908=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_ARM_CPUIDLE=y
CONFIG_ARM64_CRYPTO=y
CONFIG_PCI_IMX6=y
CONFIG_MARVELL_10G_PHY=m
CONFIG_USB_NET_DRIVERS=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_CDC_SUBSET_ENABLE=y
CONFIG_USB_NET_CDC_SUBSET=y
CONFIG_USB_NET_RNDIS_HOST=y
CONFIG_IPMI_HANDLER=y
CONFIG_IPMI_DEVICE_INTERFACE=y
CONFIG_IPMI_SI=y
CONFIG_IPMI_SSIF=y
CONFIG_IPMI_IPMB=y
CONFIG_I2C_BCM2835=y
CONFIG_MFD_RK808=y
CONFIG_TEGRA186_GPC_DMA=m
CONFIG_VIDEO_IMX_MEDIA=m
CONFIG_COMMON_CLK_NPCM8XX=y
CONFIG_MSM_MMCC_8996=y
CONFIG_ARCH_R8A77950=y
CONFIG_ARM_IMX_BUS_DEVFREQ=m
CONFIG_MTK_EFUSE=y
CONFIG_QCOM_QFPROM=y
CONFIG_ROCKCHIP_EFUSE=y
CONFIG_UNIPHIER_EFUSE=y
CONFIG_MESON_EFUSE=m
CONFIG_INTERCONNECT_IMX=m
CONFIG_INTERCONNECT_QCOM_SC7180=m
CONFIG_INTERCONNECT_QCOM_SM8250=m
CONFIG_INTERCONNECT_QCOM_SM8450=m
CONFIG_EXT2_FS=y
CONFIG_EXT3_FS=y
CONFIG_AUTOFS4_FS=y
CONFIG_USB_NET_CDC_EEM=y