# Copyright (c) 2021-2025, ARM Limited and Contributors. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# Redistributions of source code must retain the above copyright notice, this
# list of conditions and the following disclaimer.
#
# Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# Neither the name of ARM nor the names of its contributors may be used
# to endorse or promote products derived from this software without specific
# prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

# Yocto Build uses below configs

#EDK2 source tag from https://github.com/tianocore/edk2.git
EDK2_SRC_VERSION=edk2-stable202411
EDK2_SRC_TAG=0f3867fa6ef0553e26c42f7d71ff6bdb98429742

# EDK2-TEST source tag from  https://github.com/tianocore/edk2-test
#SCT_SRC_VERSION=edk2-test-stable202406
SCT_SRC_TAG=0e2ced3befa431bb1aebff005c4c4f1a9edfe6b4

# GRUB2 source from https://github.com/rhboot/grub2.git
GRUB_SRC_TAG=grub-2.06

#NOTE: If the value is NULL then the latest sysarch-acs source will be downloaded
SYS_ARCH_ACS_TAG=""

#Arm BBR source tag
#NOTE: If the value is NULL then the latest BBR source will be downloaded
ARM_BBR_TAG=""

#Arm LINUX ACS source tag
#NOTE: If the value is NULL then the latest Linux ACS source will be downloaded
ARM_LINUX_ACS_TAG=""

# EDK2-LIBC source tag from https://github.com/tianocore/edk2-libc
EDK2_LIBC_SRC_TAG=""

#edk2-test-parser version
EDK2_TEST_PARSER_TAG=36eb96df657aefeccd1b76e09c8a72fdfefc6e5a

#systemready-scripts version
SYSTEMREADY_SCRIPTS_TAG=195d98b79445e53e097dca5f702df29df8aa0ffc

#FWTS Version
FWTS_VERSION=25.01.00
