[Unit]
Description=Run script with systemd right before login prompt
#After=systemd-user-sessions.service plymouth-quit-wait.service
After=results.mount
#Before=getty.target

[Service]
Type=simple
RemainAfterExit=yes
StandardOutput=journal+console
ExecStart=/usr/bin/init.sh

[Install]
WantedBy=multi-user.target
