BR2_aarch64=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_5_13=y
BR2_ROOTFS_OVERLAY="rootfs-overlay"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/arm/system-ready/kernel.config"
BR2_PACKAGE_FWTS=y
BR2_PACKAGE_FWTS_EFI_RUNTIME_MODULE=y
BR2_PACKAGE_TROUSERS=y
BR2_PACKAGE_EFIVAR=y
BR2_PACKAGE_TPM2_TOOLS=y
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
